<article>

 <nav>

      <span class="previous"><a href="#_previous"><-- Previous Post</a></span>&nbsp;&nbsp;&nbsp;<span class="next"><a href="#_next">Next Post --></a></span>

</nav>

 <header>

      <hgroup>

       <a href="#" rel="permalink" title="post title"><h1>Article title</h1></a>

       <h2>Blog post sub-heading</h2>

       <h3>Author's name</h3>

       <h4><time pubdate date="2011-08-08"><em>August 8, 2011</em></time>, <a href="#_comments"><em># Comments</em></a></h4>

    </hgroup>

  </header>

  <p><img src="#" align="left" alt="image" title="image"> The article body content here.</p>

  <footer>

   <p><a href="#_permaL">Permalink</a>, Tags: <a href="#_TagS">Tag1</a>, Social Networking: <a href="#_SocialN">Sociable</a></p>

  </footer>

  <article>

    <p><strong>Comments:</strong></p>

      <ul id="comments">

      <li>

            <p><time pubdate datetime="2010-08-08T18:35-05:00"><em>August 8, 2011 6:35 pm</em></time><br>

            Comment one...

            </p>

        </li>

    </ul>

  </article>

  <nav>

      <a href="#_index">Home</a> <a href="#_blog">Blog</a> <a href="#_news">News</a> <a href="#_archive">Archive</a>

  </nav>

</article>