.bower-*/
npm-debug.log
nbproject/
node_modules/
server/tmp
public/build
public/default/snapshots
public/system/lib
public/system/upload
public/admin/assets/css
public/admin/assets/fonts
public/default/assets/css
public/default/assets/fonts
public/login/assets/css
public/login/assets/fonts

