extends ../layouts/admin

block content
    div.row
      div.span12
        form(method='post', action='/api/media', enctype='multipart/form-data')
          p
            input(type='text', name='title', id='title')
          p
            input(type='file', name='media', id='media')
          div.form-actions
            input.btn.btn-primary(type='submit', value='Submit')
    hr