doctype html
html#ng-app(xmlns:ng='http://angularjs.org',lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='robots', content='noindex,nofollow')
        meta(name='fragment', content='!')
        title= appTitle
        meta(name='title', content='nodBlog') 
        meta(name='description', content='nodBlog') 
        meta(name='author', content='Fabio Bedini aka Whisher') 
        meta(name='Copyright', content='&#169; 2014 All Rights Reserved') 
        link(rel='author', href='/public/humans.txt')
        link(rel='shortcut icon', href='/public/favicon.ico',type="image/x-icon")
        link(rel='bookmark', href='/public/favicon.ico')
        link(rel='stylesheet', href='/public/admin/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/public/admin/assets/css/theme.css')
        link(rel='stylesheet', href='/public/system/lib/Jcrop/css/jquery.Jcrop.min.css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
        | <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        | <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script> <![endif]-->
        script.
            var nB = nB || {};
            nB.user = !{JSON.stringify(user)};
    body(data-ng-controller="MainCtrl")
        div#wrap
            div.navbar.navbar-default.navbar-fixed-top(role='navigation')
                div.container
                    div.navbar-header
                        a.navbar-brand(href='/',target='_blank') Nodblog
                        a.navbar-toggle(href='#',data-toggle='collapse',data-target='#nb-navbar-collapse') 
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar 
                            span.icon-bar     
                    div#nb-navbar-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-left
                            li(data-ng-class="{ active: $state.includes('index') }")
                                a(data-ui-sref='index') 
                                    i.glyphicon.glyphicon-home
                                    .span Home
                            li(data-ng-class="{ active: $state.includes('post') }")
                                a(data-ui-sref='post')
                                    i.glyphicon.glyphicon-pencil
                                    .span Post
                            li(data-ng-class="{ active: $state.includes('media') }")
                                a(data-ui-sref='media')
                                    i.glyphicon.glyphicon-pushpin
                                    .span Media
                            li(data-ng-if="currentUser.isAdmin()",data-ng-class="{ active: $state.includes('user') }")
                                a(data-ui-sref='user')
                                    i.glyphicon.glyphicon-user
                                    .span User
                            li(data-ng-if="currentUser.isAdmin()",data-ng-class="{ active: $state.includes('contact') }")
                                a(data-ui-sref='contact')
                                    i.glyphicon.glyphicon-envelope
                                    .span Contact
                            li.dropdown
                                a.dropdown-toggle
                                    i.glyphicon.glyphicon-plus
                                    .span Add
                                ul.dropdown-menu
                                    li(data-ng-repeat='choice in items')
                                        a(data-ui-sref='{{choice.route}}') {{choice.title}}
                        ul.nav.navbar-nav.navbar-right
                            li.signals 
                                a(href='#') 
                                    span.label(data-ng-bind='num',data-ng-class="isVisited()?'label-danger':'label-default'",data-ng-click='update()') 0
                            li.dropdown
                                a.dropdown-toggle(href='#',data-toggle='dropdown')
                                    i.glyphicon.glyphicon-user 
                                    span(data-ng-bind='currentUser.user.name')
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(data-ui-sref='user_profile({ id: currentUser.user.id })') My Profile
                                    li.divider
                                    li
                                        a(href='/signout') Logout
            div.container
                div(data-ui-view)
        div#footer
            div.container
                p &copy; nodBlog 2014
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/public/system/lib/jquery/jquery.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
        script(type='text/javascript', src='/public/system/lib/Jcrop/js/jquery.Jcrop.min.js')
        script(type='text/javascript', src='/public/system/lib/bootstrap/dist/js/bootstrap.js')
        script(type='text/javascript', src='/public/system/lib/lodash/dist/lodash.js')
        script(type='text/javascript', src='/public/system/lib/ng-file-upload/angular-file-upload-html5-shim.js')
        script(type='text/javascript', src='/public/system/lib/angular/angular.js')
        script(type='text/javascript', src='/public/system/lib/angular-ui-router/release/angular-ui-router.js')
        script(type='text/javascript', src='/public/system/lib/restangular/dist/restangular.js')
        script(type='text/javascript', src='/public/system/lib/angular-bootstrap/ui-bootstrap-tpls.js')
        script(type='text/javascript', src='/public/system/lib/ng-file-upload/angular-file-upload.js')
        script(type='text/javascript', src='/public/system/lib/angular-cookies/angular-cookies.js')
        script(type='text/javascript', src='/public/system/common/services/base.js')
        script(type='text/javascript', src='/public/system/common/services/socket.js')
        script(type='text/javascript', src='/public/system/common/ui/paginators/elastic.js')
        script(type='text/javascript', src='/public/admin/index/index.js')
        script(type='text/javascript', src='/public/admin/post/post.js')
        script(type='text/javascript', src='/public/admin/media/media.js')
        script(type='text/javascript', src='/public/admin/user/user.js')
        script(type='text/javascript', src='/public/admin/contact/contact.js')
        script(type='text/javascript', src='/public/admin/app.js')
        script(type='text/javascript', src='/public/admin/init.js')
        - var env = process.env.NODE_ENV
        case env
            when 'development'
                script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
       


  