<!DOCTYPE html>
<html id="ng-app" xmlns:ng="http://angularjs.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="robots" content="noindex,nofollow">
        <title>[[config.app.name]] Admin</title>
        <meta name="title" content="nodBlog">
        <meta name="description" content="nodBlog">
        <meta name="author" content="Fabio Bedini aka Whisher">
        <meta name="Copyright" content="&amp;#169; 2014 All Rights Reserved">
        <link rel="author" href="/public/humans.txt">
        <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
        <link rel="bookmark" href="/public/favicon.ico">
        {% for file in assets.css %}
            <link rel="stylesheet" href="/[[file]]">
        {% endfor %}
        <script type="text/javascript">
            window.user = [[user|safe]];
        </script>
    </head>
    <body data-ng-controller="MainCtrl">
        <div id="wrap">
            <div role="navigation" class="navbar navbar-default navbar-fixed-top" data-ng-include="'/public/admin/header.tpl.html'"></div>
            <div class="container">
                <div data-ui-view></div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p>&copy; nodBlog 2014</p>
            </div>
        </div>
        <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script> <![endif]-->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        {% for file in assets.js %}
            <script type="text/javascript" src="/[[file]]"></script>
        {% endfor %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        {% if (process.env.NODE_ENV == 'development') %}
            <script type="text/javascript" src="[['http://' + req.host + ':35729/livereload.js']]"></script>
        {% endif %}

    </body>
</html>
