doctype html
html#ng-app(xmlns:ng='http://angularjs.org', lang='it')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='robots', content='index,follow')
        meta(name='fragment', content='!')
        title= appTitle
        meta(name='title', content='il web di fabio') 
        meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
        meta(name='keywords',content='php, node.js, express, mongodb, mysql, html5, css3, angularjs, createJS, mash-up social api, phonegap')
        meta(name='description',content='Blog e sito personale')
        meta(name='author', content='Fabio Bedini aka Whisher') 
        meta(name='Copyright', content='&#169; 2014 All Rights Reserved') 
        link(rel='author', href='/public/humans.txt')
        link(rel='shortcut icon', href='/public/favicon.ico',type='image/x-icon')
        link(rel='bookmark', href='/public/favicon.ico')
        each val in assets
            link(rel='stylesheet', href=val)
        script.
            var nB = nB || {};
            nB.user = !{JSON.stringify(assets)};
        | <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
        | <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        | <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script> <![endif]-->
    body(data-ng-controller="MainCtrl")
        div#nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            div.container
                div.navbar-header
                    button.navbar-toggle(type='button',data-toggle='collapse',data-target='#nb-navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar 
                        span.icon-bar   
                    a.navbar-brand(href='/') 
                        img.img-responsive(alt='il web di fabio',title='il web di fabio',src='/public/default/assets/img/logo.png') 
                div#nb-navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-left
                        li(data-ng-class="{ active: $state.includes('index') }")
                            a(data-ui-sref='index',data-nb-scroll="index") Home
                        li
                            a(data-ui-sref='index',data-nb-scroll="about") About
                        li
                            a(data-ui-sref='index',data-nb-scroll="contact") Contact
                        li(data-ng-class="{ active: $state.includes('blog') }")
                            a(data-ui-sref='blog') Blog 
                        li
                            span.label.label-danger(href='#',title='Versione Beta') Beta*
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown.signals(data-nb-signals='',signals='signals',labels='mapLabels',routes='mapRoutes') 
                        li
                            a.btn.btn-social-icon.btn-sm.btn-twitter
                                i.fa.fa-twitter
                        li
                            a.btn.btn-social-icon.btn-tumblr
                                i.fa.fa-tumblr
                        li
                            a.btn.btn-social-icon.btn-instagram
                                i.fa.fa-instagram
                        li
                            a.btn.btn-social-icon.btn-google-plus
                                i.fa.fa-google-plus
                        li
                            a.btn.btn-social-icon.btn-github
                                i.fa.fa-github
                        li
                            a.btn.btn-social-icon.btn-foursquare
                                i.fa.fa-foursquare
                        li
                            a.btn.btn-social-icon.btn-facebook
                                i.fa.fa-facebook
        div.container
            div#content.ui-view-container(data-ng-controller="viewCtrl")
                div(data-ui-view,data-ng-class="{animation: animation}",autoscroll='false')
        div#footer
            p Fabio Bedini aka whisher
            p Nord Ovest Italia - P.I. 01371160118
            p 
                a(href='mailto:info@ilwebdifabio.it') info@ilwebdifabio.it
            p powered by 
                a(href='https://github.com/whisher/nodBlog',target='_blank') nodBlog 
            p &#169; 2014 All Rights Reserved
            a(href="#",data-nb-scroll="content") Vai al top
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/public/system/lib/lodash/dist/lodash.js')
        script(type='text/javascript', src='/public/system/lib/jquery/jquery.js')
        script(type='text/javascript', src='/public/system/lib/bootstrap/dist/js/bootstrap.js')
        script(type='text/javascript', src='/public/system/lib/angular/angular.js')
        script(type='text/javascript', src='/public/system/lib/angular-ui-router/release/angular-ui-router.js')
        script(type='text/javascript', src='/public/system/lib/angular-animate/angular-animate.js')
        script(type='text/javascript', src='/public/system/lib/restangular/dist/restangular.js')
        script(type='text/javascript', src='/public/system/lib/angular-sanitize/angular-sanitize.js')
        script(type='text/javascript', src='/public/system/lib/angular-local-storage/angular-local-storage.js')
        script(type='text/javascript', src='/public/system/lib/angular-bootstrap/ui-bootstrap-tpls.js')
        script(type='text/javascript', src='/public/system/lib/angular-seo/angular-seo.js')
        script(type='text/javascript', src='/public/system/common/services/base.js')
        script(type='text/javascript', src='/public/system/common/services/socket.js')
        script(type='text/javascript', src='/public/system/common/ui/paginators/simple.js')
        script(type='text/javascript', src='/public/default/site/site.js')
        script(type='text/javascript', src='/public/default/blog/blog.js')
        script(type='text/javascript', src='/public/default/app.js')
        script(type='text/javascript', src='/public/default/init.js')
        - var env = process.env.NODE_ENV
        case env
            when 'development'
                script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
            
    