doctype html
html#ng-app(xmlns:ng='http://angularjs.org', lang='it')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title= title
        meta(name='title', content='nodBlog login') 
        meta(name='description', content='nodBlog login') 
        meta(name='author', content='whisher') 
        meta(name='Copyright', content='Copyright  2012. All Rights Reserved') 
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='bookmark', href='favicon.ico')
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/src/assets/login/css/main.css')
        | <!--[if lt IE 9]> <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script> <![endif]-->
        | <!--[if lt IE 9]> <script src='//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js'></script> <![endif]-->
    body
        div.container(data-ng-controller='MainCtrl')
            form.form-signin(role='form',name='form',data-auth='',data-ng-submit='getAuth()')   
                h2.form-signin-heading Please sign in
                input.form-control(type='text',name='email',placeholder='Email address',required='required',autofocus='autofocus',data-ng-model='user.email')
                input.form-control(type='password',name='password',placeholder='Password',required='required',data-ng-model='user.password')
                label.checkbox
                    input(type='checkbox',value='remember-me') 
                    | Remember me
                input.btn.btn-lg.btn-primary.btn-block(type='submit',value='Sign in',data-ng-disabled="form.$invalid")
        script(type='text/javascript', src='/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/vendor/angular/angular.js')
        script(type='text/javascript', src='/src/app/login/app.js')
        script(type='text/javascript', src='/src/app/login/init.js')
