<div class="row">
    <div class="well add-new-box">
        <a data-ui-sref="post_create" class="btn btn-primary">New</a>
    </div>
    <table class="table table-striped" data-ng-if="hasItems">
        <thead>
            <tr>
                <th>Title</th>
                <!--<th>Slug</th> -->
                <th>Author</th>
                <th>Categories</th>
                <th>Tags</th>
                <th>Created</th>
                <th>Published</th>
                <th><span class="glyphicon glyphicon-thumbs-up" title="Votes"></th>
                <th><span class="glyphicon glyphicon-comment" title="Comments"></span></th>
                <th>Avatar</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="post in paginator.items">
                <td>{{post.title}}</td>
                <!--<td>{{post.slug}}</td>-->
                <td>{{post.author}}</td>
                <td>{{post.categories}}</td>
                <td>{{post.tags}}</td>
                <td>{{post.created}}</td>
                <td>{{post.published}}</td>
                <td>{{post.votes}}</td>
                <td ng-switch="post.meta.comments">
                    <span class="badge" ng-switch-when="0">0</span>
                    <a class="badge" data-ui-sref="post_comments({id: post.id,slug:post.slug})" data-ng-switch-default>
                        <span class="text-warning" title="pending">{{post.comments.pending}}</span>/<span class="text-success" title="approved">{{post.comments.approved}}</span>
                    </a>
                </td>
                <td><img alt="{{post.title}}" title="{{post.title}}" class="post-avatar" data-ng-src="public/system/upload/{{post.avatar}}"></td>
                <td>{{post.status}}</td>
                <td>
                    <a data-ng-disabled="currentUser.isActionDisabled(post)" data-ui-sref="post_edit({ id: post.id })" class="btn btn-warning btn-sm" title="edit post">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a data-ng-disabled="currentUser.isActionDisabled(post)" data-ui-sref="post_delete({ id: post.id })" class="btn btn-danger btn-sm" title="delete post">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" data-ng-if="hasItems">
        <ul class="pagination">
            <li data-ng-class="{disabled: !paginator.hasPrevious()}">
                <a href data-ng-click="paginator.previous()">&laquo;</a>
            </li>
            <li data-ng-class="{disabled: !paginator.hasFirst()}">
                <a href data-ng-click="paginator.first()">&lsaquo;</a>
            </li>
            <li data-ng-repeat="n in [] | pagination:paginator.getStart():paginator.getEnd()" data-ng-class="{active: n == paginator.getCurrentPage()}">
                <a  href data-ng-click="paginator.toPageId(n)">{{n}}</a>
            </li>
            <li data-ng-class="{disabled: !paginator.hasLast()}">
                <a href data-ng-click="paginator.last()">&rsaquo;</a>
            </li>
            <li data-ng-class="{disabled: !paginator.hasNext()}">
                <a href data-ng-click="paginator.next()">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

