<div class="container">
    <div class="navbar-header"><a href="/" target="_blank" class="navbar-brand">Nodblog</a><a href="#" data-toggle="collapse" data-target="#nb-navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">    </span></a></div>
    <div id="nb-navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li data-ng-class="{ active: $state.includes('index') }">
                <a data-ui-sref="index">
                    <i class="glyphicon glyphicon-home"></i>
                    <div class="span">Home</div>
                </a>
            </li>
            <li data-ng-class="{ active: $state.includes('post') }"><a data-ui-sref="post"><i class="glyphicon glyphicon-pencil"></i>
                    <div class="span">Post</div></a></li>
            <li data-ng-class="{ active: $state.includes('media') }"><a data-ui-sref="media"><i class="glyphicon glyphicon-pushpin"></i>
                    <div class="span">Media</div></a></li>
            <li data-ng-if="currentUser.isAdmin()" data-ng-class="{ active: $state.includes('user') }"><a data-ui-sref="user"><i class="glyphicon glyphicon-user"></i>
                    <div class="span">User</div></a></li>
            <li data-ng-if="currentUser.isAdmin()" data-ng-class="{ active: $state.includes('contact') }"><a data-ui-sref="contact"><i class="glyphicon glyphicon-envelope"></i>
                    <div class="span">Contact</div></a></li>
            <li class="dropdown"><a class="dropdown-toggle"><i class="glyphicon glyphicon-plus"></i>
                    <div class="span">Add</div></a>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="choice in items"><a data-ui-sref="{{choice.route}}">{{choice.title}}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="signals"><a href="#"><span data-ng-bind="num" data-ng-class="isVisited()?'label-danger':'label-default'" data-ng-click="update()" class="label">0</span></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="glyphicon glyphicon-user"></i><span data-ng-bind="currentUser.user.name"></span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-ui-sref="user_profile({ id: currentUser.user.id })">My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/signout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>