html, body {
    height: 100%;
}
#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}
#footer {
    background-color: #F5F5F5;
    height: 60px;
}
#wrap > .container {
    padding: 60px 15px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
.form-control[disabled],
    .form-control[readonly],
        fieldset[disabled] .form-control {
            cursor:default;
            background-color: #eeeeee;
}
/* Post */
#cmt-wrapper{
  margin-top: 30px;   
}
.cmt-box{
  margin-bottom: 30px;  
}
.cmt-email{
    
}
.cmt-author{
    
}
.cmt-web{
    
}
.cmt-body{
    
}
.cmt-create{
    
}
.cmt-footer{
    margin-top: 10px;
}
/* Media */
.drop-box {
    border: 5px dashed #DDD;
    height: 150px; 
    text-align: center;
}
.drop-box.dragover {
    border: 5px dashed blue;
}
img.post-avatar{
  width: 50px;  
}
img.avatar-to-upload{
   width: 100px;   
}
.media-pic{
   width: 80px; 
}
/* navigation overlay 
div#overlay {
    position: absolute;
    margin-top: -100px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(57,173,227,0.5);
}//$('body').append('<div id="overlay"></div>');
*/