<div class="row">
    <form name="form" class="form-horizontal" role="form" data-ng-submit="save()" autosave-form>
        <button id="status" type="button" class="btn">Status</button>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" id="title" data-ng-model="post.title" placeholder="title" required>
            </div>
        </div>
        <div class="form-group">
          <label for="body" class="col-sm-2 control-label">Body</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" name="body" id="body" data-ng-model="post.body" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" data-ng-disabled="isClean() || form.$invalid">Save</button>
          </div>
        </div>
    </form>
</div>