<div id="article-list" class="row" data-ng-if="hasItems">
    <div class="panel panel-default" data-ng-if="!paginator.isClean() && hasPagination">
        <div class="panel-body">
            <a href="#" data-ng-click="paginator.filter()">
                <span class="badge" title="Tutti">Tutti</span>
            </a>
        </div>
    </div>
    <div class="panel panel-default" data-ng-hide="!paginator.isClean()" data-ng-if="hasPagination">
        <div class="panel-body clearfix">
            <a class="pull-left" href="#" data-ng-show="paginator.hasOlder()" data-ng-click="paginator.older()">
                <span class="badge" title="&lt;- Archivio">&lt;- Archivio</span>
            </a>
            <a class="pull-right" href="#" data-ng-show="paginator.hasNewer()" data-ng-click="paginator.newer()">
                <span class="badge" title="Recenti -&gt;">Recenti -&gt;</span>
            </a>
        </div>
    </div>
    <article class="col-md-12 article" data-ng-class="{last:$last}" data-ng-repeat="article in paginator.items">
        <header class="article-header clearfix">
            <a href="#" class="pull-left">
                <!--article thumbnail-->
                <img alt="thumbnail-article" data-ng-src="/public/system/upload/{{article.avatar}}" />
            </a>
            <h1>
                <a data-ui-sref="blog_details({ id: article.id,slug: article.slug })" title="{{article.title}}">
                    {{article.title}}
                </a>
                <span class="label label-default" data-ng-if="$first">New</span>
            </h1>   
        </header>
        <div class="article-body">
            <div class="clearfix">
                <ul class="article-meta pull-left">
                    <li>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <time pubdate date="{{article.published}}">
                            <em>{{article.published}}</em>
                        </time> |  
                    </li>
                    <li>
                        <span class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-comment"></span> {{article.comments}}
                        </span> | 
                    </li>
                    <li class="article-tags" tags="article.tags" filter="filter(tag)" data-nb-nav-tags></li>
                </ul>
               <!-- <ul class="article-socials pull-right">
                    <li>
                        <div class="fb-like" data-href="http://ilwebdifabio.it/blog/{{article.id}}/{{article.slug}}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li>
                    <li>
                        <a href="http://ilwebdifabio.it/blog/{{article.id}}/{{article.slug}}" class="twitter-share-button" data-via="ilwebdifabio" data-lang="it" data-related="ilwebdifabio" data-hashtags="ilwebdifabio">Tweet</a>
                    </li>
                    <li>
                        <div class="g-plusone" data-size="small" data-width="150" data-href="http://ilwebdifabio.it/blog/{{article.id}}/{{article.slug}}"></div>
                    </li>
                </ul> -->
            </div>
            <!--article prologue -->
            <div class="article-content" data-ng-bind-html="article.body"></div>
        </div>
        <!--article footer -->
        <footer class="article-footer clearfix">
            <a role="button" data-ui-sref="blog_details({ id: article.id,slug: article.slug })" class="label label-info pull-right">Leggi »</a>  
        </footer>
    </article>
</div>
<!-- <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<script>
    window.___gcfg = {lang: 'it'};
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script> -->
