<div id="article-details" class="row">
    <div class="panel panel-default" data-ng-if="hasNext && hasPrevious">
        <div class="panel-body clearfix">
            <a class="pull-left" data-ui-sref="blog_details({ id: previous._id,slug: previous.slug })" data-ng-show="hasPrevious">
                <span class="badge" title="{{previous.title}}"><span class="glyphicon glyphicon-chevron-left"></span> {{previous.title}}</span>
            </a>
            <a class="pull-right" data-ui-sref="blog_details({ id: next._id,slug: next.slug })" data-ng-show="hasNext">
                <span class="badge" title="{{next.title}}">{{next.title}} <span class="glyphicon glyphicon-chevron-right"></span></span>
            </a>
        </div>
    </div>
    <article class="col-md-12 article">
        <header class="article-header clearfix">
            <a href="#" class="pull-left">
                <!--article thumbnail-->
                <img alt="thumbnail-article" data-ng-src="/public/system/upload/{{article.avatar}}" />
            </a>
            <h1>
                <a data-ui-sref="blog_details({ id: article._id,slug: article.slug })" title="{{article.title}}">
                    {{article.title}}
                </a>
            </h1>   
        </header>
        <div class="article-body">
            <div class="clearfix">
                <ul class="article-meta pull-left">
                    <li>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <time pubdate date="{{article.published | date:'dd/MM/yyyy'}}">
                            <em>{{article.published | date:'dd/MM/yyyy'}}</em>
                        </time> |  
                    </li>
                    <li>
                        <span class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-comment"></span> {{article.meta.comments.approved}}
                        </span> | 
                    </li>
                    <li class="article-tags" tags="article.tags" filter="filter(tag)" data-nb-nav-tags>

                    </li>
                </ul>
                <!-- <ul class="article-socials pull-right">
                        <li>
                            <div class="fb-like" data-href="http://ilwebdifabio.it/blog/{{article._id}}/{{article.slug}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                        </li>
                        <li>
                            <a href="http://ilwebdifabio.it/blog/{{article._id}}/{{article.slug}}" class="twitter-share-button" data-via="ilwebdifabio" data-lang="it" data-related="ilwebdifabio" data-hashtags="ilwebdifabio">Tweet</a>
                        </li>
                        <li>
                            <div class="g-plusone" data-size="small" data-width="150" data-href="http://ilwebdifabio.it/blog/{{article._id}}/{{article.slug}}"></div>
                        </li>
                </ul> -->
            </div>    
            <!--article prologue -->
            <div class="article-content" data-compile="article.body">
            </div>
        </div>
    </article>
</div>
<div class="row">
    <div class="col-md-5">
        <div><button class="btn btn-default btn-sm" data-ng-click="isCollapsed = !isCollapsed" data-ng-hide="commentHasStorage">Lascia un commento</button></div>
        <div id="frm-comment-wrapper" collapse="isCollapsed" data-ng-hide="commentHasStorage">
            <h6 class="text-info">L'indirizzo email non verrà pubblicato. I campi obbligatori sono contrassegnati <span class="text-danger">*</span></h6>
            <form name="form" role="form" data-ng-submit="save()">
                <input type="hidden" name="post_id" data-ng-model="comment.post_id" required />
                <div class="form-group">
                    <label for="email">Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="La tua email" data-ng-model="comment.email" data-input-feedback required="required" />
                </div>
                <div class="form-group">
                    <label for="author">Nome<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Il tuo nome" data-ng-model="comment.author" data-input-feedback required="required" />
                </div>
                <div class="form-group">
                    <label for="web">Sito web</label>
                    <input type="url" class="form-control" name="web" id="web" placeholder="Se hai un sito web" data-ng-model="comment.web">
                </div>
                <div class="form-group">
                    <label for="body">Commento<span class="text-danger">*</span></label>
                    <textarea name="body" id="body" rows="5" class="form-control" placeholder="Il tuo commento" data-input-feedback data-ng-model="comment.body" data-ng-minlength="10" data-ng-maxlength="300" required="required"></textarea>
                </div>
                <div class="form-group pull-right">
                  <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
                  <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">Commenta</button>  
                </div>
            </form>
        </div>
        <div class="panel panel-default text-info" data-ng-show="commentHasStorage">
            <div class="panel-heading">Grazie, per aver lasciato un commento</div>
            <div class="panel-body">Il commento sarà visibile dopo moderazione</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="text-muted" data-ng-show="!hasComments">
            Non ci sono commenti
        </p>
        <article class="comment-box" data-ng-repeat="comment in comments track by comment.id">
            <h5>
                <i class="glyphicon glyphicon-calendar"></i>
                <time pubdate date="{{comment.created}}">
                    <em>{{comment.created}}</em>
                </time>
                <i class="glyphicon glyphicon-user"></i>
                <span>{{comment.author}}</span>
            </h5>
            <h6>{{comment.body}}</h6>
            <article id="c_{{children._id}}" data-ng-if="comment.hasChildren" data-ng-repeat="children in comment.children">
                <h5>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <time pubdate date="{{comment.created | date:'dd/MM/yyyy'}}">
                        <em>{{children.created | date:'dd/MM/yyyy'}}</em>
                    </time>
                    <i class="glyphicon glyphicon-user"></i>
                    <span>{{children.author}}</span>
                </h5>
                <h6 class="text-info">{{children.body}}</h6>
           </article>
        </article> 
    </div>
</div>   
<!-- <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<script>
    window.___gcfg = {lang: 'it'};
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
-->
