doctype html
html#ng-app(xmlns:ng='http://angularjs.org',lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='robots', content='index,follow')
        meta(name='fragment', content='!')
        title= appTitle
        meta(name='title', content='nodBlog') 
        meta(name='description', content='nodBlog') 
        meta(name='author', content='whisher') 
        meta(name='Copyright', content='Copyright  2012. All Rights Reserved') 
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='bookmark', href='favicon.ico')
        link(rel='stylesheet', href='/src/assets/admin/css/bootstrap.css')
        link(rel='stylesheet', href='/src/assets/admin/css/theme.css')
        link(rel='stylesheet', href='/vendor/Jcrop/css/jquery.Jcrop.min.css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
        | <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        | <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script> <![endif]-->
        script.
            var nB = nB || {};
            nB.user = !{JSON.stringify(user)};
    body(data-ng-controller="MainCtrl")
        div#wrap
            div.navbar.navbar-default.navbar-fixed-top(role='navigation')
                div.container
                    div.navbar-header
                        a.navbar-brand(href='/',target='_blank') Nodblog
                        a.navbar-toggle(href='#',data-toggle='collapse',data-target='#nb-navbar-collapse') 
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar 
                            span.icon-bar     
                    div#nb-navbar-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-left
                            li(data-ng-class="{ active: $state.includes('index') }")
                                a(data-ui-sref='index') 
                                    i.glyphicon.glyphicon-home
                                    .span Home
                            li(data-ng-class="{ active: $state.includes('post') }")
                                a(data-ui-sref='post')
                                    i.glyphicon.glyphicon-pencil
                                    .span Post
                            li(data-ng-class="{ active: $state.includes('media') }")
                                a(data-ui-sref='media')
                                    i.glyphicon.glyphicon-pushpin
                                    .span Media
                            li(data-ng-if="currentUser.isAdmin()",data-ng-class="{ active: $state.includes('user') }")
                                a(data-ui-sref='user')
                                    i.glyphicon.glyphicon-user
                                    .span User
                            li.dropdown
                                a.dropdown-toggle
                                    i.glyphicon.glyphicon-plus
                                    .span Add
                                ul.dropdown-menu
                                    li(data-ng-repeat='choice in items')
                                        a(data-ui-sref='{{choice.route}}') {{choice.title}}
                        ul.nav.navbar-nav.navbar-right
                            li.dropdown
                                a.dropdown-toggle(href='#',data-toggle='dropdown')
                                    i.glyphicon.glyphicon-user 
                                    span(data-ng-bind="currentUser.user.name")
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(data-ui-sref='user_profile({ id: currentUser.user.id })') My Profile
                                    li.divider
                                    li
                                        a(href='/signout') Logout
            div.container
                div(data-ui-view)
        div#footer
            div.container
                p &copy; nodBlog 2014
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/vendor/jquery/jquery.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
        script(type='text/javascript', src='/vendor/Jcrop/js/jquery.Jcrop.min.js')
        script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.js')
        script(type='text/javascript', src='/vendor/lodash/dist/lodash.js')
        script(type='text/javascript', src='/vendor/ng-file-upload/angular-file-upload-html5-shim.js')
        script(type='text/javascript', src='/vendor/angular/angular.js')
        script(type='text/javascript', src='/vendor/angular-ui-router/release/angular-ui-router.js')
        script(type='text/javascript', src='/vendor/restangular/dist/restangular.js')
        script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
        script(type='text/javascript', src='/vendor/ng-file-upload/angular-file-upload.js')
        script(type='text/javascript', src='/vendor/angular-cookies/angular-cookies.js')
        script(type='text/javascript', src='/src/common/services/base.js')
        script(type='text/javascript', src='/src/common/services/socket.js')
        script(type='text/javascript', src='/src/common/ui/paginators/elastic.js')
        script(type='text/javascript', src='/src/app/admin/index/index.js')
        script(type='text/javascript', src='/src/app/admin/post/post.js')
        script(type='text/javascript', src='/src/app/admin/media/media.js')
        script(type='text/javascript', src='/src/app/admin/user/user.js')
        script(type='text/javascript', src='/src/app/admin/app.js')
        script(type='text/javascript', src='/src/app/admin/init.js')
        - var env = process.env.NODE_ENV
        case env
            when 'development'
                script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
       


  