doctype html
html#ng-app(xmlns:ng='http://angularjs.org', lang='it')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='robots', content='index,follow')
        meta(name='fragment', content='!')
        title= appTitle
        meta(name='title', content='nodBlog') 
        meta(name='description', content='nodBlog') 
        meta(name='author', content='whisher') 
        meta(name='Copyright', content='Copyright  2012. All Rights Reserved') 
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='bookmark', href='favicon.ico')
        link(rel='stylesheet', href='/src/assets/default/css/bootstrap.css')
        link(rel='stylesheet', href='/src/assets/default/css/theme.css')
        | <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
        | <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
        | <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script> <![endif]-->
    body(data-ng-controller="MainCtrl")
        nav#nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            div.container
                div.navbar-header
                    a.navbar-brand(href='#') Nodblog
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(data-ng-class="{ active: $state.includes('index') }")
                            a(data-ui-sref='index',data-nb-scroll="index") Home
                        li
                            a(data-ui-sref='index',data-nb-scroll="about") About
                        li
                            a(data-ui-sref='index',data-nb-scroll="contact") Contact
                        li(data-ng-class="{ active: $state.includes('blog') }")
                            a(data-ui-sref='blog') Blog 
                                span.label(data-ng-bind='num',data-ng-class="isVisited()?'label-danger':'label-default'",data-ng-click='update()') 0
        div.container
            div#content.ui-view-container(data-ng-controller="viewCtrl")
                | <!--h1.text-center.text-danger Sito in costruzione -->
                div(data-ui-view,data-ng-class="{animation: animation}")
        div#footer
            p Blog template built for 
            a(href="#",data-nb-scroll="content") Vai al top
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/vendor/lodash/dist/lodash.js')
        script(type='text/javascript', src='/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/vendor/angular/angular.js')
        script(type='text/javascript', src='/vendor/angular-ui-router/release/angular-ui-router.js')
        script(type='text/javascript', src='/vendor/angular-animate/angular-animate.js')
        script(type='text/javascript', src='/vendor/restangular/dist/restangular.js')
        script(type='text/javascript', src='/vendor/angular-sanitize/angular-sanitize.js')
        script(type='text/javascript', src='/vendor/angular-local-storage/angular-local-storage.js')
        script(type='text/javascript', src='/src/common/services/base.js')
        script(type='text/javascript', src='/src/common/services/socket.js')
        script(type='text/javascript', src='/src/app/default/site/site.js')
        script(type='text/javascript', src='/src/app/default/blog/blog.js')
        script(type='text/javascript', src='/src/app/default/app.js')
        script(type='text/javascript', src='/src/app/default/init.js')
        - var env = process.env.NODE_ENV
        case env
            when 'development'
                script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
            
    